header {
    padding: 20px;
    text-align: center;
    background-color: lightblue;
    font-weight: bold;
}

footer {
    padding: 20px;
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
}

button:hover {
    background-color: #ddd;
}

div {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

header, footer, button, div {
    font-family: 'CustomFont', sans-serif;
}

body {
    background-color: lightgrey;
}